<p-messages hideTransitionOptions="500ms"></p-messages>
<p-progressSpinner *ngIf="statusElement"></p-progressSpinner>
<div class="animate__animated animate__zoomInDown">
  <p-card class="card flex justify-content-center mt-1" *ngIf="lstOrdSent.length > 0">
    <p-table [value]="lstOrdSent" selectionMode="single" [(selection)]="selOrdSent" dataKey="fileName"
      [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,50,100]" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th>Archivo</th>
          <th>Resultado Validacion</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-orderSent let-i="rowIndex">
        <tr>
          <td>{{orderSent}}</td>
          <td>
            <button pButton pRipple type="button" label="Descargar" (click)="downloadFile(orderSent, i)"
              [loading]="statusElement2[i]" class="p-button-link">
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
<div *ngIf="lstOrdSent.length == 0 && !statusElement">
  <small class="mx-3"><strong>*</strong> {{msgErrorOrderLoad}}</small>
</div>
