<p-messages hideTransitionOptions="500ms"></p-messages>
<div class="animate__animated animate__zoomInDown">
  <p-card class="card flex justify-content-center mt-1">
    <p-table #dt1 [value]="lstOrdSent" selectionMode="single" [(selection)]="selOrdSent" [paginator]="true" [rows]="10"
      [rowsPerPageOptions]="[10,50,100]" responsiveLayout="scroll" [loading]="statusLoadTable">
      <ng-template pTemplate="caption">
        <app-search-filter [lstOrdOriginal]="_lstOrdSentOriginal" [dt]="dt1"
          (filteredListEvent)="setFilteredList($event)"></app-search-filter>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th>Archivo</th>
          <th>Resultado Validacion</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-orderSent let-i="rowIndex">
        <tr>
          <td>{{orderSent}}</td>
          <td>
            <button pButton pRipple type="button" label="Descargar" (click)="downloadFile(orderSent, i)"
              [loading]="statusElement2[i]" class="p-button-link">
            </button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="2">{{msgErrorOrderLoad}}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
