<p-messages hideTransitionOptions="500ms"></p-messages>
<div class="animate__animated animate__zoomInDown">
  <p-card class="card flex justify-content-center mt-1">
    <ng-template pTemplate="header">
      <strong class="mx-3">Ordenes Procesadas</strong>
    </ng-template>

    <p-divider></p-divider>

    <p-table #dt1 [value]="lstOrdProc" selectionMode="single" [(selection)]="selOrdProc" [paginator]="true" [rows]="10"
      [rowsPerPageOptions]="[10,50,100]" responsiveLayout="scroll" [loading]="statusLoadTable1">
      <ng-template pTemplate="caption">
        <app-search-filter [lstOrdOriginal]="_lstOrdProcOriginal" [dt]="dt1"
          (filteredListEvent)="setFilteredListTable1($event)"></app-search-filter>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th>Archivo</th>
          <th>Resultado Validacion</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-orderProc let-i="rowIndex">
        <tr>
          <td>{{orderProc}}</td>
          <td>
            <button pButton pRipple type="button" label="Descargar" (click)="downloadFile(1, orderProc, i)"
              [loading]="statusElement2[i]" class="p-button-link">
            </button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="2">{{msgErrorOrderProcess}}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>

<div class="animate__animated animate__zoomInDown">
  <p-card class="card flex justify-content-center" [ngClass]="lstOrdProc.length > 0 ? 'mt-7' : 'mt-2'">
    <ng-template pTemplate="header">
      <strong class="mx-3">Ordenes Con Error</strong>
    </ng-template>

    <p-divider></p-divider>

    <p-table #dt2 [value]="lstOrdErr" selectionMode="single" [(selection)]="selOrdErr" [paginator]="true" [rows]="10"
      [rowsPerPageOptions]="[10,50,100]" responsiveLayout="scroll" [loading]="statusLoadTable2">
      <ng-template pTemplate="caption">
        <app-search-filter [lstOrdOriginal]="_lstOrdErrOriginal" [dt]="dt2"
          (filteredListEvent)="setFilteredListTable2($event)"></app-search-filter>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th>Archivo</th>
          <th>Resultado Validacion</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-orderErr let-i="rowIndex">
        <tr>
          <td>{{orderErr}}</td>
          <td>
            <button pButton pRipple type="button" label="Descargar" (click)="downloadFile(2, orderErr, i)"
              [loading]="statusElement3[i]" class="p-button-link">
            </button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="2">{{msgErrorOrderError}}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
